/* tell the SVG path to be a thin blue line without an area fill */
path {
	/*stroke: steelblue;*/
	/*stroke-width: 1.5;*/
	/*fill: none;*/
	stroke-linejoin: round;
		stroke-linecap: round;
}

.axis {
	shape-rendering: crispEdges;
}

.x.axis line {
	stroke: lightgrey;
}

.x.axis .minor {
	stroke-opacity: 0.5;
}

.x.axis path {
	display: none;
}

.y.axis line, .y.axis path {
	fill: none;
	stroke: orange;
}
